*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 28px;
    font-weight: 400;
}

h1, h2{
    display: flex;
    justify-content: center;

}

.container{
    max-width: 700px;
    width: 100%;
    margin:  7.5rem auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    display: flex;
    height: 10em;
    flex-direction: column;
    justify-content: center;
}
form, #times{
    display: flex;
    height: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x, .y{
    margin-top: 2em, auto;
}

.container button{
    margin: 16px auto;
    position: relative;
    width: 50%;
    padding: 5px;
    font-size: 16px;
}

form{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    position: relative;
}

.vary form{
    margin-top: 0;
}

input{
    display: block;
    width: 50%;
    padding: 0.5rem;
}

.container .success-message{
    background-color: rgb(50, 241, 11);
    color: #fff;
    padding: 0.5em;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 16px;
    margin-left: 10.92em;
}

.container .failure-message{
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 0.5em;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 16px;
    margin-left: 10.92em;
}
